<h1>Patatas Programmer</h1>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-primary me-md-2" type="button" onclick="window.location.href = '/login'">Iniciar Sesión</button>
  <button class="btn btn-primary" type="button" onclick="window.location.href = '/register'">Register</button>
</div>