<footer class="custom-footer">
  <div class="card">
    <footer class="card-body" style="font-size: x-small; text-align: right;">
      © 2023 Arturo Verdeja y Verónica Gálvez 
    </div>
  </div>
</footer>