<nav class="navbar bg-warning degradado-fondo">
  <div class="container-fluid">
    <a class="navbar list-inline-item text-reset text-decoration-none" href="/"><h3>Patata Programmer {{ user.name }}!</h3></a>
    <ul class="nav nav-tabs">
      <li class="nav-item">
       <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
      {{#if currentUser}} 
        <a class="nav-link" href="/profile" aria-disabled="true">Profile</a> 
      <li class="nav-item">
        <a class="nav-link" href="/logout" aria-disabled="true">Logout</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/book" aria-disabled="true">Recipe Book</a>
      </li>
      {{else}} 
       <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
        <a class="nav-link" href="/login" >Login</a> 
      {{/if}} 
       <li class="nav-item">
        <a class="nav-link" href="/variety" aria-disabled="true">Variety</a>
      </li> 
    </ul>
     
      {{#if currentUser}} 
        <a class="btn btn-outline-success btn-sm" href="/random" aria-disabled="true">Random recipe</a>
      {{else}} 
      <a href="/register" class="btn btn-outline-success btn-sm">Random recipes</a>
      {{/if}} 
    
  </div>
</nav>

           
      