
 <div class="text-center card border-warning m-3 shadow mb-5 bg-white rounded custom-width-profile mx-auto mt-5">
    <h3><i class="fas fa-utensils mt-2 mr-2 p-1 list-inline-item"></i></h3>
    <div class="list-inline-item mr-2 p-1"><h4>The variety of potatoes</h4></div>
  </div>



  <div class="container center">
    <div class="row">
      <div class="col m-3">
        <div class="card border-warning shadow mt-5 bg-white rounded">
          <div class="card-body mt-2 ms-3">
            <img src="/monalisa.jpg" class="" alt="Recipe Image" />
            <span class="mt-3 h4"><strong>Monalisa</strong></span>
            <hr>
            <h4> 
              The Monalisa potato is one of the potato varieties with the lowest water content, which makes it very versatile in the kitchen.
              It is medium in size, oval in shape, soft to the touch and light in color, making it one of the best-known types of potatoes.<br><br>
              It is classified as an early potato and its high percentage of starch makes it very useful for frying, since it accumulates little oil.
              Boiled, it reaches its cooking point sooner than other varieties and, in addition, maintains its shape better, helping the presentation of the dish.
            </h4>
            <hr>
            <h5>Color: light brown</h5>
            <h5>Size: medium</h5>
            <h5>Form: oval</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="container center">
    <div class="row">
      <div class="col m-3">
        <div class="card border-warning shadow mt-2 bg-white rounded">
          <div class="card-body mt-2 ms-3">
            <img src="gallega.jpg" class="" alt="Recipe Image" />
              <span class="mt-3 h4"><strong>Gallega</strong></span>
            <hr>
            <h4> 
             The Kennebec potato or Galician potato is the most popular in the world. It is a large, fast-growing potato with a strong and highly appreciated flavor.
              Its skin is slightly mottled and thin, yellow or light brown and its pulp is white.<br><br>
              It is one of the varieties of semi-early potatoes with little water and high starch content,
              very versatile when cooked but particularly valued as one of the best types of French fries.
            </h4>
            <hr>
            <h5>Color: brown</h5>
            <h5>Size: big</h5>
            <h5>Form: round</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="container center">
    <div class="row">
      <div class="col m-3">
        <div class="card border-warning shadow mt-2 bg-white rounded">
          <div class="card-body mt-2 ms-3">
            <img src="redscarlett.jpg" class="" alt="Recipe Image" />
            <span class="mt-3 h4"><strong>Red Scarlett</strong></span>
            <hr>
            <h4> 
             The Red Pontiac potato is a type of potato that is recognized by its very red skin and white pulp, which is round in shape and has a grainy texture.
             Its organoleptic characteristics make it the favorite for many when it comes to making potato omelettes, although it is also valid cooked and as an accompaniment.
             </h4>
            <hr>
            <h5>Color: red</h5>
            <h5>Size: medium</h5>
            <h5>Form: round</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="container center">
    <div class="row">
      <div class="col m-3">
        <div class="card border-warning shadow mt-2 bg-white rounded">
          <div class="card-body mt-2 ms-3">
            <img src="grenailles.jpg" class="" alt="Recipe Image" />
           <span class="mt-3 h4"><strong>Grenailles</strong></span>
            <hr>
            <h4> 
              On the other hand we have grenaille potatoes, they are small tubers that remain in the ground after harvesting the potatoes with standard measurements or caliber,
              They are marketed (at least in the neighboring country) under the name of Grenailles potatoes, although in our market, especially if we usually buy in fruit and vegetable stores where a good part of their products are homegrown,
              They will simply be found in separate boxes and labeled potatoes.
            </h4>
            <hr>
            <h5>Color: light brown</h5>
            <h5>Size: small</h5>
            <h5>Form: oval</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="container center">
    <div class="row">
      <div class="col m-3">
        <div class="card border-warning shadow mt-2 bg-white rounded">
          <div class="card-body mt-2">
            <h2>More variety coming soon...</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


 
