{{#if info}}<div class="alert alert-primary" role="alert">{{ info }}</div> {{/if}}
<div class="card border-warning m-2 shadow p-1 bg-white rounded custom-width-register mx-auto mt-4">
  <div class="text-center">
    <div class="list-inline-item"><h2>LOGIN</h2></div>
  </div>
</div>
<form action="/login" method="post">
  <div class="container">
    <div class="row">
    <div class="col">   
      <div class="row justify-content-center m-4">
          <div class="col-md-5">
            <div class="mb-2">
              <label class="form-label">UserName</label>
              <input type="username" name="username" class="form-control {{#if errors.username}}is-invalid{{/if}}" aria-label="name" value="{{ user.username }}">
              {{#if errors.username}}<div class="invalid-feedback">{{ errors.username }}</div>{{/if}}
            </div>

            <div class="mb-4">
              <label class="form-label">Password</label>
              <input type="password" name="password" class="form-control {{#if errors.password}}is-invalid{{/if}}" aria-label="password">
              {{#if errors.password}}<div class="invalid-feedback">{{ errors.password }}</div>{{/if}}
            </div>

            <div class="mb-3">
              <button type="submit" class="btn btn-outline-secondary">Login</button>
              <button class="btn btn-outline-secondary" type="button" onclick="window.location.href = '/'">Back</button>
            </div>
    </div>
  </div>
</form>