<h1>Profile {{user.name}}</h1>


<button class="btn btn-primary me-md-2" type="button" onclick="window.location.href = '/'">Back</button>
<button class="btn btn-primary me-md-2" type="button" onclick="window.location.href = '/login'">Logout</button>

