<div class="container px-0 text-center">
  <div class="row gx-0">
    <div class="col-auto">
      <button class="btn btn-outline-secondary btn-sm" type="button" onclick="window.location.href = '/'">Logout</button>
    </div>
  </div>    
  <form action="/profile" method="post">
    <div class="form-floating m-2">
      <input class="form-control" name="description" placeholder="Leave your descrption here" id="floatingTextarea"></input>
      <label for="floatingTextarea">Escribe tu description de receta</label>
    </div>
    <div class="row g-2 m-2">
      <div class="col-md-6">
        <div class="form-floating">
          <select name="potato" class="form-select" id="floatingSelectGrid">
            <option value="1">Monalisa</option>
            <option value="2">Red Scarlett</option>
            <option value="3">Grenailles</option>
            <option value="4">Gallega</option>
          </select>
          <label for="floatingSelectGrid">Elige tipo de patata</label>
        </div>
      </div>
      <div class="col-md-6"> 
        <div class="form-floating">
          <input type="text" name="time" class="form-control" id="floatingInputGrid" placeholder="time">
          <label for="floatingInputGrid m-2">Tiempo de coción</label>
        </div>
      </div>
    </div>
    <div class="input-group mb-3 m-3">
      <input type="file" class="form-control" id="inputGroupFile02">
      <label class="input-group-text" for="inputGroupFile02">Subir</label>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
              <p>Created by {{user.name}}</p>
          <div class="m-1">
            <button type="submit" class="btn btn-outline-secondary">Publicar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>