<div class="container center">
    <div class="row">
      <div class="col m-3">
        <div class="card border-warning shadow mt-5 bg-white rounded">
          <div class="card-body mt-2 ms-3">
            <img src="{{recipe.image_url}}" class="" alt="Recipe Image" />
            <span class="mt-3 h4"><strong>{{ recipe.title }}</strong></span>
            <hr>
            <h4> 
              {{ recipe.description }}
            </h4>
            <hr>
            <h5>{{ recipe.user }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>